body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}
a {
  text-decoration: none;
  color: #323a45;
  transition: all 0.3s;
  a:hover {
    color: #5983ff;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

/*
.logo {
  width: 62px;
  height: 62px;
}
*/
/*-------  ここからheader  --------*/
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(36, 137, 196);
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 22px;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
}

.header-menu-right {
  float: right;
  li {
    float: left;
  }
  a {
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
  }
  a:hover {
    color: #104600;
    transition: color 0.3s;
  }
}

/*-------  ここまでheader  --------*/

.top-wrapper {
  padding-top: 120px;
  padding-bottom: 100px;
  color: #5f5d60;
  text-align: center;
}

/*----------about me--------------*/
#bubble-icon {
  display: inline-block;
  margin-left: -20px;
  margin-right: 140px;
}
#self-introduce-inform {
  display: inline-block;
}

/*------------about me------------*/

/*-------------skillset----------*/

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
  text-align: center;
}

.heading h2 {
  font-weight: normal;
}

.skillset-list-container {
  align-content: center;
  padding: 0 10%;
}

.skillset {
  display: inline-block;
  padding: 0 60px;
}

.skillset-wrapper {
  display: block;
  padding-top: 50px;
  height: 200px;
  background-color: #f7f7f7;
  text-align: center;
}

.skillset-icon img {
  width: 52px;
  height: 52px;
  position: relative;
}

/*---------works---------------*/
.works-container {
  padding: 0 20px;
  margin:0 300px;
  background-color: rgb(231, 228, 228);
  img{
    display: inline-block;
    text-align: center;
  }
  p {
    background-color: rgb(153, 153, 153);
    padding: 20px;
    a {
      color: rgb(255, 255, 255);
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

*/
/*----------works end--------------*/

/*--------Link---------------------*/
.den3-link {
  display: inline-block;
  padding: 20px 20px;
  background-color: rgb(231, 228, 228);
  p {
    background-color: rgb(153, 153, 153);
    padding: 20px;
    a {
      color: rgb(255, 255, 255);
    }
  }
}
/*-----------Link end------------------*/
/*--------------footer------------*/

footer {
  text-align: center;
  padding: 20px 0;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 137, 196);
}

.footer-head {
  color: white;
}

.social-icon {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  background: rgb(20, 175, 223);
  width: 52px;
  height: 52px;
  padding-top: 13px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 24px;
  margin: 10px 15px;
}

.social-icon:hover {
  color: #e3e3e3;
  background-color: rgb(20, 175, 223);
}

.copyright {
  margin-top: 20px;
}
/*# sourceMappingURL=stylesheet.css.map */
