*{
  box-sizing:border-box;
}

body{
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1170px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}