body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}
a {
  text-decoration: none;
  color: #323a45;
  transition: all 0.3s;
  a:hover {
    color: #5983ff;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

/*
.logo {
  width: 62px;
  height: 62px;
}
*/
/*-------  ここからheader  --------*/
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  color: #777;
  font-weight: 700;
  font-size: 22px;
  font-family: "Dosis", sans-serif;
  cursor: pointer;
}

.header-menu-right {
  float: right;
  li {
    float: left;
  }
  a {
    color: #323a45;
    font-weight: 700;
    padding: 10px;
    text-decoration: none;
  }
  a:hover {
    color: #5983ff;
    transition: color 0.3s;
  }
}

/*-------  ここまでheader  --------*/

.top-wrapper {
  padding-top: 100px;
  color: #5f5d60;
  text-align: center;
}

/*----------about me--------------*/

.self-introduce {
  display: block;
}

/*------------about me------------*/

/*-------------skillset----------*/

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
  text-align: center;
}

.heading h2 {
  font-weight: normal;
}
.skillset-list-container {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 10% 10%;
}

.skillset {
  display: block;
}

.skillset-container {
  display: inline-flex;
}

.skillset-wrapper {
  padding-top: 20px;
  height: 300px;
  background-color: #f7f7f7;
  text-align: center;
}

.skillset-icon img {
  width: 52px;
  height: 52px;
  position: relative;
}

/*---------works---------------*/
.slide-wrapper {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  color: #5e6f84;
  padding: 60px 0;
}

.slide-title {
  font-size: 40px;
  margin-bottom: 50px;
}
.change-btn-wrapper {
  width: 50%;
  margin: 20px auto;
  font-size: 40px;
  font-weight: bold;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}
.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}

.next-btn {
  cursor: pointer;
  float: right;
}

.slides {
  padding: 0;
}

.slide {
  display: none;
  img {
    width: 500px;
    height: auto;
    border-radius: 5px;
  }
}
.active {
  display: block;
}

/*----------works end--------------*/

/*--------Link---------------------*/

/*-----------Link end------------------*/
/*--------------footer------------*/

footer {
  text-align: center;
  padding: 20px 0;
  color: #999;
  background-color: #6b450c;
}

.footer-head {
  color: white;
}

.social-icon {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  background: #775f0fc7;
  width: 52px;
  height: 52px;
  padding-top: 13px;
  border-radius: 50%;
  color: #977325;
  font-size: 24px;
  margin: 10px 15px;
}

.social-icon:hover {
  color: #e3e3e3;
  background-color: rgba(255, 225, 169, 0.5);
}

.copyright {
  margin-top: 20px;
}
/*# sourceMappingURL=stylesheet.css.map */
